.labels{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
.labels label{
    flex-basis: 50%;
    
}
.fromTo, .dates{
    margin-top:5px;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    padding:2px;
}
input[type="date"]{
    flex-basis: 45%;
}
.notActive{
    pointer-events: none;
    opacity:.3;
}
input[name="from"], input[name="to"]{
    width: 45%;
    font-size:14px;
    padding-left:2px;
}