button{
    border:1px solid black;
    border-radius:50%;
    width:30px;
    height:30px;
    text-align: center;
    font-size: 15px;   
    background-color: #fff;
    margin: 7px 0 0 0;
   }
   button:disabled{
       opacity:.3;
   }
   span{
       
       padding:0 15px;
       font-size: 18px;
       line-height: 30px;
     
      
   }