:root {
  --color: #302d5b;
}
.mainApp {
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
  background-color: rgba(80, 75, 148, 0.221);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.passengers {
  display: flex;
  justify-content: space-between;
}
.buttony {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
label {
  display: block;
}
input[type="submit"] {
  margin-top: 40px;
  height: 40px;
  background-color: var(--color);
  color: #fff;
}
input[type="submit"]:hover {
  color: var(--color);
  background-color: #fff;
  cursor: pointer;
  border: none;
}
.airportsOrigin,
.airportsDeparture {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 42%;
  background-color: #fff;
  max-height: 300px;
  overflow: hidden;
  top: 95px;
  left: 28px;
  overflow-y: scroll;
}
.airportsDeparture {
  left: unset;
  right: 28px;
}
p {
  cursor: pointer;
  margin: 0;
  padding: 10px 5px;
}
p:hover {
  color: white;
  background-color: #302d5b;
}
