.header{
    text-align: right;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    margin-right: 20px;
    
}

img{
    transform:scale(0.7);
    position:absolute;
    right:0;
    top:0;
}